#gridcontainer {
    display: flexbox;
}

.square {
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: red;
    margin-right: 2px;
    margin-left: 2px;
    z-index: 2;
}

.gridRow {
    display: flexbox;
    flex-direction: row;
}